/* .product {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid #aaa8;
    transition: transform 150ms ease;
    background-color: white;
    cursor: pointer;
}

.product:hover {
    transform: scale(1.02);
    transition: transform 200ms ease;
} */

/* .product_header { */
/* display: flex;
    justify-content: center;
    align-items: center; */
/* width: 100%;
    height: 250px;
    padding: 20px;
    border-bottom: 1px solid #aaa8;
} */

/* .product_img_container {
    width: 200px;
    height: 200px;
} */

/* .product_img_container img {
    width: 100%;
} */
/* 
.product_img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product_body {
    padding: 30px 20px 40px;
    display: grid;
    grid-template-columns: repeat(1fr, 100px);
}

.product_title {
    font-weight: 600;
    margin-bottom: 10px;
    grid-column: span 2;
}

.product_price_label {
    font: 0.9rem;
    color: #aaa;
}

.product_price_number {
    display: flex;
    gap: 5px;
    transform: translateX(10px);
    font-weight: 500;
}

.product_price_number::before{
    content: '$';
}

.product_icon_container {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #00ABB3;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.product_icon_container:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
    transition: filter 150ms ease, transform 150msease;
} */

.product {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid #aaa8;
    cursor: pointer;
    transition: transform 200ms ease;
    background-color: white;
}

.product:hover {
    transform: scale(1.03);
    transition: transform 200ms ease;
}

.product_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa8;
}

.product_img {
    object-fit: contain;
    width: 90%;
    height: 100%;
}

.product_body {
    padding: 30px 20px 40px;
    display: grid;
    grid-template-columns: 1fr 100px;
}

.product_title {
    font-weight: 600;
    margin-bottom: 10px;
    grid-column: span 2;
}

.product_price_label{
    font-size: 0.9rem;
    color: #aaa;
}

.product_price_number {
    display: flex;
    gap: 5px;
    transform: translateX(10px);
    font-weight: 500;
}

.product_price_number::before {
    content: '$'
}

.product_icon_container {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #00ABB3;
    color: white;
    margin-left: auto;
    cursor: pointer;
    transition: filter 100ms ease, transform 100ms ease;
}

.product_icon_container:hover {
    filter: brightness(1.1);
    transform: scale(1.04);
    transition: filter 100ms ease, transform 100ms ease;
}

.product_icon {
    font-size: 1rem;
}